* {
  box-sizing: border-box;
  font-family: Verdana;
  font-size: medium;
}
html {
  background-color: darkslategrey;
  color: whitesmoke;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
h2 {
  font-size: 0.7rem;
}

#lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#first,
#second,
#third {
  text-align: left;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  border: solid 1px salmon;
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 30%;
  height: 250px;
}
button {
  background-color: gray;
  font-size: 0.5rem;
  width: 100%;
  padding: 0;
  margin: 2px;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 1px 0 #fff;
}
button:focus {
  box-shadow: 0 0 1px 0 #fff;
  /* outline-style: auto; */
  outline-color: #fff;
}

#lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  padding: 1rem;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  text-transform: lowercase;
  align-items: center;
  padding: 0;
  list-style: none;
}
@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    /* background: #5470b0; */
  }
}
li {
  padding: 0.1em;
  width: 100%;
  border-radius: 0.2rem;
  margin: 0.2rem;
  animation: expand 0.5s ease-in-out;
}
.selected {
  background-color: darkorange;
}
