* {
  box-sizing: border-box;
  font-family: Verdana;
  font-size: medium;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

#lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#first,
#second,
#third {
  text-align: left;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: space-around;
  flex-flow: column wrap;
  border: solid 1px salmon;
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: calc(100% / 4);
  height: 300px;
}
button {
  font-size: 0.5rem;
  width: 100%;
  padding: 0;
  margin: 2px;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 3px 0 #fff;
}
button:focus {
  box-shadow: 0 0 3px 0 #fff;
  /* outline-style: auto; */
  outline-color: black;
}

#lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  text-transform: lowercase;
  align-items: center;
  padding: 0;
  list-style: none;
}
li {
  width: 100%;
  border-radius: 0.2rem;
  margin: 0.2rem;
}
.selected {
  background-color: salmon;
}
